[Unit]
Description=SkyExo Wings Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/skyexo-wings
Restart=always
User=root

[Install]
WantedBy=multi-user.target
